* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background: #fff;
}

.page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../img/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: #fff;
    padding: 70px 0;
}

.main-title {
    font-size: 40px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.header-paragraph {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    background: #333;
    text-decoration: none;
    color: #fff;
    border: 1px #666 solid;
    padding: 15px;
    margin-top: 10px;
}

.main-info {
    color: #333;
    background: #eaeaea;
    margin: 0 auto;
    padding: 10px;
    
}

.info-title, .info-paragraph {
    padding: 10px;
}

.column, .contact-info, .page-footer {
    font-size: 0;
}

.tiles, .tiles2, .p1 {
    display: inline-block;
    font-size: 17px;
    background: #fff;
    padding: 5px;
}

.tiles {
    width: calc(100% / 3);
}

.tiles h3 {
    padding: 10px;
}

.tiles img {
    max-width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.tiles2 {
    width: calc(100% / 2);
}

.tiles2 h2, p {
    padding: 10px;
}

.p1 {
    width: calc(100% / 2);
}